include blocks/index

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title NestDoc
    link(rel="stylesheet", href=base + "/css/app.css")
    link(rel="icon", type="image/png", href=favicon)
    script(src="https://kit.fontawesome.com/a8f1219050.js", crossorigin="anonymous")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/themes/prism.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/prism-themes/1.9.0/prism-coy-without-shadows.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/plugins/line-numbers/prism-line-numbers.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/plugins/line-highlight/prism-line-highlight.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/prism.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/components/prism-typescript.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/plugins/line-numbers/prism-line-numbers.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/plugins/line-highlight/prism-line-highlight.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gojs/2.2.19/go.js")

  body.line-numbers
    .app
      .sidebar
        +logo(project)
        +mainMenu(project)
      .content
        +breadcrumbs(breadcrumbs)
        block content
    script(src=base + "/js/app.bundle.js")
    script!= treeJson
