include blocks/index

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title NestDoc
    link(rel="stylesheet", href=base + "/css/app.css")
    link(rel="icon", type="image/png", href=project.favicon)
    script(src="https://kit.fontawesome.com/a8f1219050.js", crossorigin="anonymous")
    script(src=base + "/js/app.bundle.js")
  body
    .app
      .sidebar
        +logo(project)
        +mainMenu(project)
      .content
        +breadcrumbs(breadcrumbs)
        block content
