extend ../base

block content
  +header('fa-sharp fa-solid fa-person-digging', service.name, service.id)

  +doc(service)


  //- pre(style="margin-top: 1000px; border: 1px solid red; padding: 20px;")= JSON.stringify(service, null, 2)

