extends ../base

block content
  +header('fa-sharp fa-solid fa-person-digging', module.name, module.id, 'Services of module')

  +items(module.services, 'fa-sharp fa-solid fa-person-digging', 'services')
