.app
  display: flex;

  .sidebar
    padding: 30px 50px 30px 30px;
    background: #ECEFF1;

    .logo
      margin-bottom 50px;

      img
        width: 400px;

  .content
    padding: 50px;
    width: 100%;
