.app
  display: flex;

  .sidebar
    padding: 30px 50px 30px 30px;
    background: #ECEFF1;

    .logo
      margin-bottom 50px;

      img
        width: 400px;

  .content
    padding: 50px;
    width: 100%;
    margin-right: 50px;

pre[class*="language-"]
    // white-space: normal !important;
    // word-break: break-word !important;
    // font-size: 0.9em;
    // width: 600px !important;
    // overflow-x: scroll;

pre[class*="language-"]
  white-space: wrap !important;
  overflow: hidden !important;
  padding: 1em 0 1em 4em !important;
