.breadcrumbs
  background: #ECEFF1;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 0.9em;
  display: flex;

  &-item
    display: block;
    display: flex;
    align-items: center;
    color: lighten(#546E7A, 20%);

    span
      margin-left: 5px;
      color: lighten(#546E7A, 20%);

    &::after
      content: '/';
      display: block;
      color: #90A4AE;
      position: static;
      margin-left: 10px;
      margin-right: 10px;

  div.breadcrumbs-item
    opacity: 0.5;

    &::after
      display: none;
