body
  font-family: 'Roboto';
  font-size: 16px;
  border-top: 10px solid #ddd;

.app
  display: flex;

  .sidebar
    padding: 30px 50px 30px 30px;
    background: #fff;
    border-right: 1px solid #eee;

    .logo
      margin-bottom 50px;

      img
        width: 350px;

  .content
    padding: 50px;
    width: 100%;
    margin-right: 50px;

pre[class*="language-"]
  white-space: wrap !important;
  overflow: hidden !important;
  padding: 1em 1em 1em 4em !important;

.line-highlight
  background: -webkit-linear-gradient(left,hsla(24,20%,50%,.2) 70%,hsla(24,20%,50%,0)) !important;
