$clr = {
  primary: #0277BD,
  menu: {
    icons: {
      module: #90A4AE,
      service: #0277BD,
      controller: #00ACC1,
      entity: #00BFA5,
      dto: #9E9E9E,
      type: #9E9E9E,
      guard: #FB8C00,
      middleware: #4CAF50
    },
  },
};
